body{
    background-color: black !important;
    padding: 0;
    font-family: Shapiro,sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.tab-main{
    background-color: rgb(33, 33, 39);
    padding: 16px 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.Footer-main{
    background-color: rgb(33, 33, 39);
    padding: 16px 0px;
    z-index: 1;
    width: 100%;
}
.tab-img{
    display: flex;
    gap: 10px;
}
.tab-img img{
    width: 9rem;
    padding-left: 30px;
    height: 2rem;
    cursor: pointer;
}
.span{
    background-color: rgb(50, 94, 255);
    justify-content: center;
    padding: 02px 5px;
    width: fit-content;
    max-height: 20px;
    margin-top: 4px;
    color: rgb(255, 255, 255);
    zoom: 0.89;
    letter-spacing: 2.2px;
}
.tab-buttons{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2.2px;
    font-size: 13px;
    cursor: pointer;
}
.tab-buttons-Link{
    gap: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 2.2px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}
.tab-buttons-Link:hover{
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 3.1px;
    width: fit-content;
}
.tab-buttons-Link:focus{
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 3.1px;
    width: fit-content;
}
.MuiGrid-grid-xs-2{
    max-width: 20% !important;
    flex-basis: 20% !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}

.login-main{
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.login{
    text-decoration: none;
}
.sign-up{
    background-color: rgb(50, 94, 255);
    padding: 10px 5px;
    width: fit-content;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2.2px;
}
.get-in{
    display: none ;
    font-size: 10px;
}
.footermain{
    color: gray;
    margin-left: 2rem;
    font-size: 12px;
}
.footermain div{
    margin-top: 10px;
}
.footermain div span{
    text-decoration: underline;
}
.footermain div span:hover{
    color: rgba(255, 255, 255, 0.712);
    cursor: pointer;
}
.footermain-right{
    color: gray;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
    gap: 10px;
    margin-top: 1rem;
    font-size: 13px;
    float: right;
}
.footermain-right div{
    margin-left: 3rem;
}
.logos-footer{
    margin-top: 1rem;
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 1rem;
}
.MuiAppBar-colorDefault {
    background-color: rgb(33, 33, 39) !important;
}

body{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.back-menu{
    width: 100%;
    height:120px;
    background-color: rgba(8, 8, 8, 0.836);
    margin:0;
    position:fixed;
    -webkit-box-shadow: 0px 10px 13px -6px rgba(92,92,92,0.66);
    -moz-box-shadow: 0px 10px 13px -6px rgba(92,92,92,0.66);
    box-shadow: 0px 10px 13px -6px rgba(92,92,92,0.66);
}
.back-menu-center{
    width: 75%;
    height:100%;
    margin: 0 auto;
    /* background-color: chartreuse; */
    display: flex;
    flex-wrap: nowrap;
}
.logo{
    width:10%;
    height:100%;
    /* background-color: chocolate; */
    left:0;
    overflow: hidden;
    display: flex;
}
.logo-link{
    color: #fff;
    font-size: 17px;
    font-weight: 800px;
    text-decoration: none;
}
.logo-link img{
    width:100px;
}
.logo-link:nth-child(2){
    position: relative;
    top: 32%;
    left: 5%; 
}
.menu-items{
    /* background-color: red; */
    height:70px;
    width: 100%;
    align-items: center;
    display: flex;
    top: 50px;
    position: relative;
}
.menu-items ul{
    list-style: none;
    display: flex;
}
li[class^="menu-item-"] Link{
    margin:12px 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}
li[class^="menu-item-"] Link:hover{
    color: #dc18ff!important;
}
.menu-item-1 Link{
    color:rgb(97 159 255)!important;
}
.menu-register{
    position: absolute;
    top:0;
    right:0;
    /* background-color: cornflowerblue; */
    margin:7px;
}
.register{
    color: #fff;
    text-decoration: none;
    margin:8px;
}
.register:hover{
    color: #dc18ff!important;
}
.toggle-menu{
    transform: translateX(10%) translateY(100%);
    display: none;
}
.toggle-icon{
    font-size:30px;
    background-color: #fff;
    padding:10px;
    border-radius: 3px;
    cursor: pointer;
}
.toggle-items{
    list-style: none;
    background-color:rgb(33, 33, 39);
    width:362px;
    margin-left: -105%;
    line-height:47px;
    position: absolute;
    display: none;
    margin-top: 15px;
    border-radius: 5px;
    
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
}

li[class^="toggle-item-"] Link{
    color: #fff;
    text-decoration: none;
    font-weight: lighter;  
}
li[class^="toggle-item-"] Link:hover{
    color: #dc18ff!important;
}
.toggle-item-1 Link{
    color:rgb(97 159 255)!important;
}
#toggle-btn{
    display: none;
}
#toggle-btn:checked +ul{
    display: block;
     
}
@media screen and (max-width:953px) {
    .toggle-menu{
       display: block; 
    }
    .back-menu-center{
        display: none;
    }
}
@media screen and (min-width:953px) {
    .toggle-menu{
       display: none; 
    }

}

@media only screen and (max-width: 600px) {
    .tab-buttons{
        display: none;
    }
    .sign-up{
        display: none;
    }
    .get-in{
        display: block;
        background-color: rgb(50, 94, 255);
        padding: 10px 15px;
        margin-top: -37px;
        width: 60px;
        color: rgb(255, 255, 255);
        letter-spacing: 2.2px;
        font-size: 14px;
        margin-left: 12rem !important;
    }
    .tab-img img{
        zoom: 0.9;
    }
    .span{
        padding-top: 5px;
        padding-bottom: 0px;
        zoom: 0.6;
    }
  }